<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h1>New Student</h1>
    <form action="/create_student">
      <div class="form-group">
        <label for="idea" class="control-label">Name</label>
        <input type="text" name="name" class="form-control" placeholder="name">
      </div>
      <div class="form-group">
        <label for="idea" class="control-label">Email</label>
        <input type="text" name="email" class="form-control" placeholder="example@sample.com">
      </div>
      <input type="submit" class="btn btn-primary">
    </form>
  </div>
</div>
