<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h1>New Enrollment</h1>
    <form action="/create_enrollment">
      <div class="form-group">
        <label for="idea" class="control-label">course_id</label>
        <input type="text" name="course_id" class="form-control" placeholder="1">
      </div>
      <div class="form-group">
        <label for="idea" class="control-label">student_id</label>
        <input type="text" name="student_id" class="form-control" placeholder="1">
      </div>
      <input type="submit" class="btn btn-primary">
    </form>
  </div>
</div>

