<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h1>New Course</h1>
    <form action="/create_course">
      <div class="form-group">
        <label for="idea" class="control-label">Name</label>
        <input type="text" name="name" class="form-control" placeholder="name">
      </div>
      <input type="submit" class="btn btn-primary">
    </form>
  </div>
</div>

